<div class="relative isolate z-40 shadow">
	<div class="bg-white py-5">
		<div class="mx-auto max-w-7xl px-6 lg:px-8">
			<% items.each do |item| %>
				<button onclick="<%= item[:onclick] %>" type="button" class="inline-flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900" aria-expanded="false">
					<%= item[:heading] %>
					<svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
					</svg>
				</button>
			<% end %>
		</div>
	</div>

	<% items.each do |item| %>
		<%= render partial: "components/nav/top/content/#{item[:partial]}", locals: {item: item} %>
	<% end %>

</div>
