<div id="<%= item[:element_id] %>" class="top_nav_content absolute inset-x-0 top-0 -z-10 bg-white pt-16 shadow-lg ring-1 ring-gray-900/5">
	<%= render RailsComponents::Nav::Top::ActionMenu.new( **RailsComponents.config.reusable[:action_menu]) %>
</div>
