<div class="col-span-full">
	<div class="relative flex gap-x-3">
		<div class="flex h-6 items-center">
			<%= form.check_box column.name, {class: 'h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600'} %>
		</div>
		<div class="text-sm leading-6">
			<label for="<%= column.name %>" class="font-medium text-gray-900"><%= column.name %></label>
		</div>
	</div>
</div>
