<!-- right slide-out -->
<div id="right-sidebar" class="hidden relative z-50" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
	<!-- Background backdrop, show/hide based on slide-over state. -->
	<div class="fixed inset-0"></div>

	<div class="fixed inset-0 overflow-hidden">
		<div class="absolute inset-0 overflow-hidden">
			<div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10 sm:pl-16">
				<!--
					Slide-over panel, show/hide based on slide-over state.

					Entering: "transform transition ease-in-out duration-500 sm:duration-700"
						From: "translate-x-full"
						To: "translate-x-0"
					Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
						From: "translate-x-0"
						To: "translate-x-full"
				-->
				<div class="pointer-events-auto w-screen max-w-md">
					<%= render partial: form_partial %>
				</div>
			</div>
		</div>
	</div>
</div>
